<?xml version="1.0" encoding="UTF-8"?>;
<Configuration>
    <Properties>
        <Property name="pattern">%d{HH:mm:ss}{GMT+7}|%2.2T|%5.5p| - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug" includeLocation="true">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>